* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    box-sizing: border-box;
}

 .nav-container {
     width: auto;
     height: auto;
     padding: 5px;
     display: flex;
     flex-direction: row;
     background: rgba(0, 0, 0, 0.1);
     transition: background-color 0.3s ease;
 }

 .nav-container-default {
     background-color: rgba(0, 0, 0, 0.1);
 }

 .nav-container-scroll {
     background-color: #6693F5;
 }

 .nav-container-left {
     width: auto;
     height: 100px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .nav-logo {
     width: 100px;
     height: 90px;
 }

 .image {
     width: 100%;
     height: 100%;
 }

 .nav-container-right {
     width: 80%;
     height: auto;
     padding: 5px;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
 }

 .nav-item {
     width: auto;
     height: auto;
     margin: 5px;
     padding: 10px;
     justify-content: center;
     color: white;
     font-size: 18px;
 }

 .nav-item a {
     color: inherit;
     text-decoration: none;
 }

 .nav-item a:hover {
     color: #87CEEB;
     font-size: 17px;

 }

 .dropdown {
     position: relative;
     display: inline-block;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     min-width: 160px;
     z-index: 1;
 }

 .dropdown-content a {
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropdown-content a:hover {
     background-color: #6693F5
 }

 .dropdown:hover .dropdown-content {
     display: block;
 }

 .sticky {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1001;
     width: 100%;
 }






 /*mobile navigation */
 .mobile-nav {
     display: none;
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     z-index: 1000;
     background: rgba(0, 0, 0, 0.4);

 }

 .mobile-nav-body {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: row;
 }

 .nav-left-container {
     width: 50%;
     height: 100%;

 }

 .nav-right-container {
     width: 50%;
     height: 100%;
     background-color: black;
 }

 .mobile-nav-links {
     padding-top: 10px;
     text-align: left;
 }

 .mobile-nav a {
     display: block;
     padding: 20px 40px;
     text-decoration: none;
     color: white;
     font-weight: bold;
     font-size: 18px;
 }
 

 .mobile-nav a:hover {
     padding-left: 50px;
     color: #87CEEB;
     font-size: 17px;
     transition: transform 0.8s ease-in-out;
 }


 .mobile-nav-close {
     display: flex;
     justify-content: left;
     padding: 20px 40px;
     top: 20px;
     right: 20px;
     font-size: 30px;
     text-align: left;
     cursor: pointer;
     color: white;
     font-weight: bold;
 }

 .mobile-nav-close:hover {
     padding-left: 50px;
     color: red;
     font-size: 35px;
     transition: transform 0.8s ease-in-out;
 }

 .menu-icon {
     display: none;
     cursor: pointer;
     color: white;
 }



/*slide animation*/
.hidden2 {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;

}


.show2 {
    opacity: 1;
    transform: translateX(0);

}



 @media only screen and (max-width: 768px) {

     .nav-container {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         text-align: center;
         padding: 5px;
     }

     .nav-container-left {
         width: auto;
         margin-left: 20px;
     }

     .nav-container-right {
         width: 80%;
         display: none;
     }

     .menu-icon {
         display: block;
         cursor: pointer;
         color: white;
         width: auto;
         text-align: right;
         font-size: 30px;
         margin-right: 20px;
     }

     .menu-icon:hover {
        font-size: 28px;
        color: #87CEEB;
    }
    

     .nav-item {
         display: none;
     }


     .show-mobile-nav {
         display: block;
         /* Show the mobile navigation when the menu icon is clicked */
     }

 


 }
