* {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.container-body {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: snow;
}

.image {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



/* Captain contents */
.container-captain-contents {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.container-capt-img {
    flex: 1 0 40%;
    height: 400px;
}

.container-capt-contents {
    flex: 1 0 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px 0 30px;

}

.container-role {
    padding: 10px;
    font-size: 18px;
}

.container-name {
    padding: 10px;
    font-size: 40px
}

.container-description {
    padding: 10px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.container-contacts {
    padding: 5px;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container-contacts-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #F0F0F0;

}

/* History Container */
.container-history-body {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.container-history {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 50px;
}

.container-title {
    padding: 10px;
    font-size: 30px
}

.container-history-contents {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.container-history-description {
    flex: 1 0 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

.container-history-image {
    flex: 1 0 30%;
    height: 400px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


/* MVG Container */
.container-mvg {
    width: 90%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin: 50px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.container-mvg-contents {
    flex: 1 0 30%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
}

.container-mvg-title {
    text-align:center;
    font-size: 30px;
    padding: 15px;
}

.container-mvg-desc {
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
}

/* Officials-body */
.container-officials-body {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.container-officials-title {
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
}

.container-officials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 10px;
    margin-bottom: 50px;
}

.container-officials-content {
    width: 30%;
    height: auto;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);


}

.container-officials-image {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 100px;
    margin: 5px;
}

.image-officials {
    width: 100%;
    height: 100%;
}

.container-officials-name {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.container-officials-position {
    padding: 5px;
    font-size: 18px;
}

.container-officials-description {
    width: 100%;
    padding: 5px;
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
}

/* Media query for tablets */
@media (max-width: 768px) {

    .container-capt-img,
    .container-capt-contents,
    .container-history-description,
    .container-history-image,
    .container-mvg-contents,
    .container-officials-content {
        flex: 1 0 100%;
    }
}